html, body {
    height: 100%;
    margin: 0;
}

#pokeImg {
    padding-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}


body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(59, 55, 55);
    color: white;
    margin: 0;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
header {
    background-color: rgb(49, 42, 42);
    text-align: center;
    min-height: 10ch;
    padding: 10px;
}

#welcome {
    color: rgb(224, 223, 244);
    text-align: center;
    padding-top: 20px;
    font-size: 30px;
    font-weight: bold;
}

section {
    flex: 1;
    padding-left: 50px;
}
img {
    box-shadow: 0 0 50px black;
    border-radius: 20px;
    border: 2px solid white;
}
li {
    list-style: square;
}
h2 {
    text-decoration: underline;
    font-style: italic;
}
footer {
    background-color: rgb(43, 40, 40);
    color: rgb(98, 78, 78);
    text-align: center;
    min-height: 7ch;
    padding: 25px;
}
nav {
    background-color: rgb(124, 107, 107);
    text-align: center;
    padding: 10px;
    color: white;
}
nav a {
    margin: 0 5px;
    box-shadow: 0 0 5px black;
    background-color: rgb(212, 213, 214);
    text-decoration: none;
    color: rgb(23, 23, 23);
    border: 1px solid rgb(71, 70, 70);
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
    transition: color 0.5s ease;
}
nav a:hover {
	color: #d3bbc0;
	background-color: rgba(234, 224, 224, 0.5);
}

#carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-height: 300px;
    overflow: hidden;
    gap: 10px;
}

#carousel img {
    max-height: 300px;
    aspect-ratio: auto 300 / 400;
    border-radius: 10px;
}

#buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}
