body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(59, 55, 55);
    color: white;
    margin: 0;
    font-size: 20px;
}
header {
    background-color: rgb(49, 42, 42);
    text-align: center;
    min-height: 10ch;
    padding: 10px;
}
section {
    padding-left: 50px;
}
img {
    box-shadow: 0 0 50px black;
    border-radius: 20px;
    border: 2px solid white;
}
li {
    list-style: square;
}
h2 {
    text-decoration: underline;
    font-style: italic;
}
footer {
    background-color: rgb(43, 40, 40);
    color: rgb(98, 78, 78);
    text-align: center;
    min-height: 7ch;
    padding: 25px;
}
nav {
    background-color: rgb(124, 107, 107);
    text-align: center;
    padding: 10px;
    color: white;
}
nav a {
    margin: 0 5px;
    box-shadow: 0 0 5px black;
    background-color: rgb(212, 213, 214);
    text-decoration: none;
    color: rgb(23, 23, 23);
    border: 1px solid rgb(71, 70, 70);
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
    transition: color 0.5s ease;
}
nav a:hover {
	color: #d3bbc0;
	background-color: rgba(234, 224, 224, 0.5);
}